<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="error"/>
    <property name="fileExtensions" value="java, properties, xml"/>

    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <!-- lines -->
    <module name="FileLength">
        <property name="max" value="500"/>
        <property name="severity" value="error"/>
    </module>

    <!-- characters -->
    <module name="LineLength">
        <property name="max" value="100"/>
        <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://"/>
    </module>

    <module name="SuppressionSingleFilter">
        <property name="checks" value="HideUtilityClassConstructor"/>
        <property name="files" value=".*Application\.java"/>
    </module>

    <module name="TreeWalker">
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>

        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
        </module>

        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module name="LocalVariableName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <message key="name.invalidPattern"
                value="Local variable name ''{0}'' must be meaningful (not single letter unless loop counter)"/>
        </module>

        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module name="ParameterName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module name="ConstantName">
            <property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$"/>
        </module>

        <module name="AvoidStarImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="true"/>
        </module>
        <module name="RedundantImport"/>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="sun, com.sun"/>
        </module>

        <module name="MethodLength">
            <property name="severity" value="error"/>
            <property name="max" value="20"/>
            <property name="tokens" value="METHOD_DEF"/>
            <message key="maxLen.method"
                value="Method length is {0,number,integer} lines (max allowed is {1,number,integer}). Extract to smaller methods (Clean Code: Functions should do ONE thing)."/>
        </module>

        <module name="ParameterNumber">
            <property name="severity" value="error"/>
            <property name="max" value="3"/>
            <property name="ignoreOverriddenMethods" value="true"/>
            <message key="maxParam"
                value="Method has {0,number,integer} parameters (max allowed is {1,number,integer}). Consider creating a parameter object (Clean Code Ch 3)."/>
        </module>

        <!-- decision points: if, &&, ||, ternary, loops -->
        <module name="CyclomaticComplexity">
            <property name="severity" value="error"/>
            <property name="max" value="5"/>
            <message key="cyclomaticComplexity"
                value="Cyclomatic complexity is {0,number,integer} (max allowed is {1,number,integer}). Simplify or extract methods."/>
        </module>

        <!-- possible execution paths through the method -->
        <module name="NPathComplexity">
            <property name="severity" value="error"/>
            <property name="max" value="20"/>
        </module>

        <module name="NestedIfDepth">
            <property name="max" value="2"/>
        </module>

        <module name="NestedTryDepth">
            <property name="max" value="1"/>
        </module>

        <module name="NestedForDepth">
            <property name="max" value="2"/>
        </module>

        <module name="EmptyBlock">
            <property name="option" value="text"/>
            <property name="tokens" value="LITERAL_CATCH"/>
            <message key="block.empty"
                value="Empty catch block. Don't ignore exceptions (Clean Code Ch 7)."/>
        </module>

        <module name="OneTopLevelClass"/>
        <module name="InterfaceIsType"/>
        <module name="EqualsHashCode"/>

        <module name="MagicNumber">
            <property name="severity" value="error"/>
            <property name="ignoreNumbers" value="-1, 0, 1"/>
            <property name="ignoreHashCodeMethod" value="true"/>
            <property name="ignoreAnnotation" value="true"/>
            <property name="ignoreFieldDeclaration" value="false"/>
            <message key="magic.number"
                value="''{0}'' is a magic number. Extract to a named constant (Clean Code: G25)."/>
        </module>

        <module name="RedundantModifier"/>

        <!-- lines between declaration and first use -->
        <module name="VariableDeclarationUsageDistance">
            <property name="allowedDistance" value="3"/>
        </module>

        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
            <property name="allowMultipleEmptyLines" value="false"/>
        </module>

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
        </module>

        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceAfter"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
            <property name="allowEmptyLoops" value="true"/>
            <property name="allowEmptyLambdas" value="true"/>
        </module>

        <module name="LeftCurly">
            <property name="option" value="eol"/>
        </module>

        <module name="RightCurly">
            <property name="option" value="same"/>
        </module>

        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="false"/>
        </module>

        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>

        <module name="MissingSwitchDefault"/>
        <module name="FallThrough"/>
        <module name="DefaultComesLast"/>

        <module name="StringLiteralEquality"/>
        <module name="ModifierOrder"/>
        <module name="HideUtilityClassConstructor"/>

        <module name="VisibilityModifier">
            <property name="packageAllowed" value="false"/>
            <property name="protectedAllowed" value="false"/>
            <property name="allowPublicFinalFields" value="true"/>
            <property name="allowPublicImmutableFields" value="true"/>
            <property name="ignoreAnnotationCanonicalNames"
                value="org.springframework.beans.factory.annotation.Autowired,
                org.springframework.beans.factory.annotation.Value,
                com.fasterxml.jackson.annotation.JsonProperty,
                lombok.Getter, lombok.Setter, lombok.Data, lombok.Value,
                lombok.AllArgsConstructor, lombok.NoArgsConstructor,
                lombok.RequiredArgsConstructor, lombok.Builder"/>
        </module>

        <module name="AnnotationLocation">
            <property name="allowSamelineMultipleAnnotations" value="false"/>
        </module>

        <module name="MissingOverride"/>
        <module name="ArrayTypeStyle"/>
        <module name="UpperEll"/>
        <module name="OuterTypeFilename"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="OneStatementPerLine"/>
        <module name="EmptyStatement"/>
        <module name="NoFinalizer"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <module name="CommentsIndentation"/>

    </module>

</module>
